<!DOCTYPE html>
<html lang="fa" dir="rtl">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>file Upload</h1>
        <form id='upload-form' action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" multiple>
            <input type="submit" value="send">
        </form>
    </body>
</html>    